<!doctype html>
<html ng-app="coursesApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Instructure Front End Test</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
    <body>

      <div ng-controller="CoursesController" ng-cloak>
        <div id="courses-list" ng-show="courses">
          <div id="title-container">
            <h1>Available Courses</h1>
          </div>
          <div class="container">
            <ul class="course" ng-repeat="course in courses">
              <li>
                <h3>
                  <a href ng-click="viewCourse(course.id);">
                    {{course.name}}
                  </a>
                  <div>
                    {{course.code}}
                  </div>
                </h3>
                <p>
                  {{course.description}}
                </p>
              </li>
            </ul>
            <div class="pagination">
              <a href ng-click="updateCoursesPage(link)" ng-repeat="(rel, link) in pagination">{{rel}}</a>
            </div>
          </div>
        </div>
        <div class="container" ng-show="course" ng-cloak>
          <ul class="course">
            <li>
              <h3>
                <a href ng-click="viewCourse(course.id);">
                  {{course.name}}
                </a>
                <div>
                  {{course.code}}
                </div>
              </h3>
              <p>
                {{course.description}}
              </p>
              <a href ng-click="enroll()">Enroll</a>
            </li>
          </ul>
          <div class="pagination">
            <a href ng-click="updateCoursesPage(prevURL)">Back</a>
          </div>
        </div>
      </div>

      <script src="./lib/jquery-1.12.0.min.js"></script>
      <script src="./lib/angular.min.js"></script>
      <script src="./js/app.js"></script>
      <script src="./js/services/AuthToken.js"></script>
      <script src="./js/services/CourseData.js"></script>
      <script src="./js/services/Enroll.js"></script>
      <script src="./js/controllers/CoursesController.js"></script>
    </body>
</html>